/* General */
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

#root {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* Navbar */
.navbar {
  padding: 0.5rem 1rem; /* Ajuste de padding para reducir altura */
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-toggler {
  border: none;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
}

/* Footer */
footer {
  footer {
    width: 100%;
    padding: 20px;
    background-color: black; /* Ajuste de color según el diseño */
    color: #fff;
    text-align: center;
  }
}

/* Formularios */
.form-container {
  width: 100%;
  max-width: 600px; /* Ancho máximo para los formularios */
  padding: 2rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(70vh - 60px); /* Ajusta la altura sin solapar con el navbar */
  padding-top: 60px;
}

button[type="submit"], button.btn-danger {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
}

h2, h4 {
  text-align: center;
}

/* Responsivo */
@media (max-width: 768px) {
  .container {
    max-width: 95%;
  }
}

/* Estilos para la página de Artistas */
.artists-page .container {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 60px; /* Espacio desde el Navbar */
}

.artists-page h2 {
  padding-bottom: 10px;
}

.card {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.carousel-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.carousel-container .carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.home-page .info-section {
  max-width: 80%;
  margin: 0 auto;
}

.artist-carousel {
  max-width: 80%;
  margin: 0 auto;
}